
.main {
    min-height: 100vh;
    padding: 4rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: flex-start;
    padding-top: 3rem;
  }
  .blogitem {
    font-size: 1.5rem;
    font-style: italic;
    font-weight: lighter;
    justify-content: center;
  }
  .container {
    padding: 0 2rem;
  }